/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Roboto", sans-serif;
}
body #wrapper {
  margin: 0 3rem 0 3rem;
}
body .major {
  border-bottom: solid 3px #f56a6a;
  display: inline-block;
  margin: 0 0 4rem 0;
  padding: 0 1.5rem 1rem 0;
  font-size: 2.5rem;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Indie Flower", cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
header {
  display: moz-flex;
  display: -webkit-flex;
  display: flex;
  margin: 2rem 0 2rem 0;
  padding-bottom: 1rem;
  border-bottom: 0.3rem solid #f56a6a;
}
header * {
  flex: 1;
  margin-bottom: 0;
}
header .icons {
  text-align: right;
  font-size: 2rem;
}
header .logo {
  font-size: 3rem;
  text-decoration: none;
  border-bottom: 0;
  color: #3d4449;
  font-family: "Roboto slab", serif;
  font-size: 1.5rem;
}
ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}
ul.icons li {
  display: inline-block;
  padding: 0 0rem 0 0;
}
ul.icons li a {
  text-decoration: none;
}
ul.icons li:last-child {
  padding-right: 0;
}
ul.icons li .icon {
  color: #3d4449;
  margin-left: 2rem;
}
.tabs {
  width: 100%;
}
.tabs .tabs-items {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
.tabs .tabs-item {
  display: none;
  width: 75%;
}
.tabs .tabs-item .tabs-item-title {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
}
.tabs .tabs-item-selected {
  display: block;
}
.tabs .tabs-links {
  display: flex;
  background-color: #f56a6a;
}
.tabs .tabs-link {
  padding: 20px 25px;
  font-size: 24px;
  background-color: #f56a6a;
  border-right: 1px solid white;
  color: white;
  cursor: pointer;
}
.tabs .tabs-link:hover {
  background-color: #3d4449;
}
.tabs .tabs-link-selected {
  z-index: 2;
  border-right: 1px solid #f56a6a;
  background-color: white;
  color: black;
}
.tabs .tabs-link-selected:hover {
  background-color: white;
}
.expanders {
  margin-top: 5rem;
  width: 100%;
}
.expanders h4 {
  font-size: 2rem;
}
.expander {
  box-shadow: 2px 2px 2px #f56a6a;
  overflow: hidden;
  height: 6rem;
  position: relative;
  background-color: white;
  border-radius: 10px;
  border: 2px solid #f56a6a;
  padding: 1rem 1rem 3rem 2rem;
  margin: 2rem 10%;
}
@media (max-width: 270px) {
  .expander {
    height: 10rem;
  }
}
.expander .split {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.expander .split h2 {
  justify-content: flex-start;
  margin-bottom: 2rem;
}
.expander .split .expandButton {
  align-content: flex-end;
  padding: 2rem 3rem 2rem 3rem;
}
.expander h2 {
  color: #3d4449;
  font-size: 2.5rem;
  padding: 0;
  margin: 1rem 0 0;
}
@media (max-width: 270px) {
  .expander h2 {
    font-size: 0.5rem;
  }
}
@media (max-width: 370px) {
  .expander h2 {
    font-size: 1rem;
  }
}
.expander .close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.expander .close .expandButton {
  bottom: 90%;
  right: 2%;
}
.expander .expandButton {
  font-size: 1.5rem;
  color: white;
  padding: 0.3rem;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  background-color: #f56a6a;
}
.article-open {
  height: 40rem;
}
.article-open .expandButton {
  position: absolute;
  bottom: 85%;
  right: 2%;
}
#showContainer {
  width: 55rem;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.navButton {
  cursor: pointer;
  float: left;
  width: 25px;
  height: 22px;
  padding: 10px;
  margin-right: 5px;
  overflow: hidden;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 18px;
  background: #000000;
  opacity: 0.65;
  user-select: none;
}
.navButton:hover {
  opacity: 1;
}
.caption {
  float: right;
}
.imageContainer:not(:first-child) {
  /* Hide all images except the first */
  display: none;
}
.topBar {
  color: #3d4449;
}
.button {
  appearance: none;
  background-color: transparent;
  border-radius: 0.375em;
  border: 0;
  box-shadow: inset 0 0 0 2px #f56a6a;
  color: #f56a6a;
  cursor: pointer;
  display: inline-block;
  height: 5rem;
  line-height: 5rem;
  padding: 0 5rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.button a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #f56a6a;
}
#banner {
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(210, 215, 217, 0.75);
}
@media (min-width: 1000px) {
  #banner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #banner .content {
    width: 50%;
  }
}
#banner img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding-bottom: 1rem;
}
@media (max-width: 500px) {
  #banner img {
    width: 50%;
    height: 100%;
  }
}
@media (max-width: 330px) {
  #banner img {
    width: 30%;
    height: 100%;
  }
}
#banner .content {
  height: 50%;
}
#banner button {
  margin: 1rem 0 2rem 0;
}
#about {
  color: #3d4449;
  margin: 2rem 0 2rem 0;
  border-bottom: 1px solid rgba(210, 215, 217, 0.75);
  padding-bottom: 2rem;
}
@media (min-width: 800px) {
  #about .features #first,
  #about .features #second {
    display: flex;
  }
}
#about .features article {
  width: 100%;
  font-size: 2rem;
  padding-bottom: 1.5rem;
}
@media (min-width: 800px) {
  #about .features article {
    display: flex;
  }
}
#about .features article h3 {
  font-size: 2rem;
}
#about .features article p {
  font-size: 1rem;
}
#about .features .icon {
  text-decoration: none;
  font-size: 3rem;
  padding-right: 3rem;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
footer p {
  margin: 1rem;
  color: #9fa3a6;
  font-size: 2rem;
}
#gallery li {
  display: inline;
  margin-right: 3px;
}
#gallery #main-img {
  background: url(images/bg_img.png) no-repeat 0 0;
  padding: 26px;
}
#next {
  width: 5rem;
  height: 3rem;
  background-color: #f56a6a;
}
.top-bar {
  width: 100%;
  height: 10;
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: row;
}
.top-bar a {
  text-decoration: none;
  color: #3d4449;
}
.top-bar .container {
  color: #3d4449;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0.75rem 1rem;
  letter-spacing: 1px;
}
@media ((min-width: 800px)) {
  .top-bar .container {
    width: 800px;
  }
}
